@page "/"
<br />
<br />
<a href="/game/clientlocalbot" class="lobby_button">Play Bot</a>
<br />
<br />
<a href="/game/clientlocal" class="lobby_button">Pass and Play</a>
<br />
<br />
<a href="/game/online" class="lobby_button">Online</a>



